.main {
  min-height: 150vh;
  padding-bottom: 4rem;
}

.hero {
  padding-top: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.s1{
    background-color: rgb(10, 10, 10);
}
.section {
  padding: 0rem 8%;
  padding-top: 3rem;
}
.pagetitle {
  font-size: 50px;
  font-weight: 500;
  padding: 0 8%;
  display: flex;
  align-self: flex-start;
}
.ds{
    font-size: 20px;
    display: inline-block;
    padding-left: 1rem;
    padding-top: 0.75rem;
}
.date {
  padding: 0 8%;
  opacity: 0.5;
  border-bottom: 1px solid rgb(255, 255, 255, 0.35);
  padding-bottom: 1rem;
  font-size: 15px;
}
.latestpostcon {
  padding-bottom: 4rem;
}
.latestpost {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}
.latestimage {
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgb(32, 32, 32);
  /* border-radius: 16px; */
}
.latesttitle {
  font-size: 32px;
  font-weight: 550;
  padding-bottom: 1rem;
  line-height: 135%;
  padding-top: 0.5rem;
}
.tag {
  padding-bottom: 0.5rem;
}
.latestdesc {
  padding-bottom: 2rem;
}
.arrow {
  display: inline-block;
  transform: translateY(0.07rem);
  margin-left: 4px;
}
.invert{
 filter: invert(1);
}
.latestpost:hover > .latestbody > .link{
  text-decoration: underline;
}
.blogpost:hover > .blogbody > .blogcon >.link{
  text-decoration: underline;
}
.profileblock {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.25rem;
}
.profileimage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(241, 241, 241);
  background-size: cover;
  background-position: center;
  background-image: url("../assets/mg.jpg");
  margin-right: 10px;
}
.name {
  font-size: 15px;
}
.prox {
  width: 26px;
  height: 26px;
}
.bloggrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}
.blogpost {
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
height: 100%;
margin-bottom: 2rem;
}
.blogbody{
    display: flex;
    padding-bottom: 2.5rem;
}

.blogimage {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  margin-left: 2rem;
  transform: translateY(0.75rem);
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgb(248, 248, 248);
}
.blogtitle {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 0.75rem;
  line-height: 135%;
  padding-top: 0.5rem;
}
.desc{
    padding-bottom: 1rem;
}
/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */

@media (max-width: 800px) {
  .hero {
    padding-top: 80px;
  }
  .section {
    padding: 0rem 6%;
    padding-top: 2rem;
  }
  .pagetitle {
    font-size: 44px;
    font-weight: 500;
    padding: 0 6%;
  }
  .ds{
      font-size: 17px;
      padding-left: 00.75rem;
  }
  .date {
    padding: 0 6%;
    padding-top: 2px;
    padding-bottom: 1rem;
  }
  .latestpostcon {
    padding-bottom: 2rem;
  }
  .latestpost {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .profileblock{
      padding-top: 0;
  }
  .profileimage {
    width: 28px;
    height: 28px;
  }
  .name {
    font-size: 14px;
  }
  .latestimage {
    height: 60vw;
    max-height: 16rem;
    margin-bottom: 0.25rem;
  }
  .latesttitle {
    font-size: 24px;
  }
  .latestdesc {
    padding-bottom: 1rem;
    font-size: 15px;
  }
  .arrow {
    display: inline-block;
    transform: translateY(0.05rem);
  }

  .bloggrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .blogimage {
    width: 64px;
    height: 64px;
  }
  .prox {
    width: 24px;
    height: 24px;
  }
  .blogtitle {
    font-size: 20px;
    padding-bottom: 0.75rem;
  }
  .desc {
    font-size: 15px;
    padding-bottom: 1rem;
    display: none;
  }
  .blogimage{
    margin-left: 1.25rem;
    height: 80px;
    width: 80px;
  }
}
