/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --red: #fd1313;
  --red:rgb(247, 22, 22);
  --blue: rgb(22, 118, 243);
  --dark: #131313;
  --light:white;
  }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-touch-callout: none; /* iOS Safari */
  font-family: "Geo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@font-face {
  font-family: "Geo";
  src: url('../fonts/geo/Aspekta-300.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Geo";
  src: url('../fonts/geo/Aspekta-350.ttf');
  font-weight: 350;
}

@font-face {
  font-family: "Geo";
  src: url('../fonts/geo/Aspekta-400.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Geo";
  src: url('../fonts/geo/Aspekta-450.ttf');
  font-weight: 450;
}
  
@font-face {
  font-family: "Geo";
  src: url('../fonts/geo/Aspekta-500.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Geo";
  src: url('../fonts/geo/Aspekta-550.ttf');
  font-weight: 550;
}
  
@font-face {
  font-family: "Geo";
  src: url('../fonts/geo/Aspekta-600.ttf');
  font-weight: 600;
}