
.main {
  min-height: 200vh;
}

.section{
  padding: 3rem 8%;
}
.herosec{
  padding-top: 130px;
}
.profileblock{
  display: flex;
  align-items: center;
}
.profileimage{
  width: 64px;
  height: 64px;
  background-color: rgb(236, 236, 236);
  background-image: url('../assets/mg.jpg');
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  /* border-radius: 50%; */
 transform: translateY(4px);
}
.title{
  font-size: 40px;
  font-weight: 500;
}
.pro{
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.6);
}
.bio{
  font-size: 28px;
  line-height: 150%;
  padding-bottom: 2rem;
  font-weight: 450;
}
.arrow{
  display: inline-block;
  transform: translateY(0.08rem);
}
.link:hover{
 color: rgba(0, 0, 0, 0.5);
}
.grid2x{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  align-items: flex-start;
}

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */

@media (max-width: 800px) {
  .page {
    padding-bottom: 80px;
  }

  .main {
    min-height: 200vh;
  }

  .section{
    padding: 3rem 6%;
    padding-top: 100px;
  }
  .profileimage{
    width: 54px;
    height: 54px;
  }
  .title{
    font-size: 32px;
  }
  .pro{
    font-size: 18px;
  }
  .bio{
    font-size: 21px;
   
  }
  .grid2x{
    grid-template-columns: 1fr;
    gap: 2rem;
  }

}