
.main {
  min-height: 200vh;
}

.section{
  padding: 0rem 8%;
  padding-bottom: 4rem;
}
.herosec{
  padding-top: 130px;
}
.profileblock{
  display: flex;
  align-items: center;
}
.profileimage{
  width: 72px;
  height: 72px;
  background-color: rgb(236, 236, 236);
  background-image: url('../assets/mg.jpg');
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 5px;
 transform: translateY(4px);
}
.title{
  font-size: 64px;
  font-weight: 500;
}
.pro{
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.5);
}
.bio{
  font-size: 24px;
  line-height: 150%;
  padding-bottom: 2rem;
  font-weight: 450;
  padding-top: 1.5rem;
  /* font-family: 'Literata', serif; */
}
.biocon{
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.arrow{
  display: inline-block;
  transform: translateY(0.08rem);
}

.link:hover{
 text-decoration: underline;
}
.btn{
  height: 40px;
  border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--dark);
padding: 0 1.5rem;
padding-bottom: 2px;
width: max-content;
color: white;
}
.btn:hover{

 background-color: rgb(51, 51, 51);
}
.btncon{
  padding-top: 0rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.grid2x{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
  align-items: flex-start;
}
.gridtitle{
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--dark);
  display: inline-block;
  margin-right: 8px;
}
.bloggrid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */

@media (max-width: 800px) {
  .page {
    padding-bottom: 80px;
  }

  .main {
    min-height: 200vh;
  }

  .section{
    padding: 0rem 6%;
    padding-bottom: 3rem;
  }
  .herosec{
    padding-top: 100px;
  }
  .profileimage{
    width: 54px;
    height: 54px;
  }
  .title{
    font-size: 48px;
  }
  .pro{
    font-size: 20px;
  }
  .bio{
    font-size: 18px;
    padding-top: 0.25rem;
  }
  .biocon{
    padding-bottom: 3rem;
  }
  .btn{
    padding-bottom: 3px;
  }
  .grid2x{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
.gridtitle{
  padding-bottom: 0.5rem;
}

}