.mobileonly {
    display: none;
  }
  .webonly {
    display: unset;
  }
.header {
  height: 64px;
  width: 100%;
  padding: 0 8%;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 border-bottom: 1px solid rgb(0, 0, 0, 0.07);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 100;
 background-color: white;
 transition: all 0.15s ease-in;
}
.show{
    transform: translateY(0) !important;
}
.hide{
    transform: translateY(-100%) !important;
}
.logoblock {
  display: flex;
  align-items: center;
}
.logocon {
  margin-right: 2px;
  width: 32px;
  height: 32px;
  /* background-color: rgb(4, 158, 247);
  background-color: rgb(12, 12, 12); */
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name{
    font-size: 21px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
}
.menucon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 300px;
    height: 64px;
}
.menu {
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    color: var(--dark);
    text-transform: capitalize;
    /* font-family: 'Archivo', sans-serif; */
    opacity: 1;
    padding-bottom: 5px;
    height: 63px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .menu::after{
      content: '';
     position: absolute;
     bottom: 0;
     left: 1px;
     width: 0%;
  height: 1px;
     background-color: black;
     transition: all 0.25s cubic-bezier(0.49, 0.13, 0.44, 0.83);
  }
  .active::after{
    width: 100%; 
  }
  .active {
    transition: all 0.25s cubic-bezier(0.49, 0.13, 0.44, 0.83) !important;
  }


  .menu:hover {
    opacity: 0.55;
  }
  .active:hover {
    opacity: 1 !important;
  }

/* /////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */

@media (max-width: 800px) {
    .mobileonly {
        display: unset;
      }
      .webonly {
        display: none;
      }
    .header{
        padding: 0 6%;
        height: 60px;
    }
    .navblock{
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
    .mblock{
     height: max-content;
    }
    .menubar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 99;
        background-color: white;
        padding: 100px 6%;
    }
.nomenubar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    transform: translateY(-100%);
    z-index: 99;
    background-color: white; 
    overflow: hidden;
    padding: 100px 6%;
}
.menux{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.activex{
    color: rgb(4, 158, 247);
}
}
